ul.list-unstyled.social.mb-0.d-flex.align-items-center
    li.px-2.me-0
        a.text-dark.text-opacity-75(href="#") 
            include ../socials/_twitter.pug
    li.px-2.me-0
        a.text-dark.text-opacity-75(href="#") 
            include ../socials/_github.pug
    li.px-2.me-0
        a.text-dark.text-opacity-75(href="#") 
            include ../socials/_ig.pug
    li.px-2
        a.text-dark.text-opacity-75(href="#") 
            include ../socials/_dribbble.pug
