// Theme pallete
$theme-pallete: ();

// Custom spacers
$spacer: 1rem;
$gs-spacers: (
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 3,
  7: $spacer * 4,
  8: $spacer * 5,
);
$spacers: map.merge($spacers, $gs-spacers);
$gutters: map.merge($gutters, $gs-spacers);

// Custom container
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1000px,
);
