extends layouts/_base.pug

block seo
    title Upfront | Free Bootstrap 5 Theme for Freelancer
    meta(name="description", content="Upfront is a free Bootstrap 5 theme for freelancer")

block variables
    - let bodyClass = "page-home"

block content
