// Custom variables
$font-weight-medium: 500;

// Boostrap variable overrides

// Base
$prefix: "ga-";
$font-family-sans-serif: "Poppins", sans-serif;
$font-weight-bolder: 900;
$spacer: 1rem;

// Colors
$colors: ();

// Nav / Navbar
$navbar-nav-link-padding-x: 1rem;
$navbar-padding-y: 0.75rem;
$nav-link-font-size: 0.75rem;
$dropdown-font-size: 0.75rem;
