block variables

doctype html
html(lang="en")
    include ../includes/_head.pug

    body(class=bodyClass)
        block header
            include ../includes/_header.pug

        block content

        block footer
            include ../includes/_footer.pug

        block scripts
